@model WebLuanVan.Data.ViewModels.ModelBinding.StudentViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Table</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Sinh viên</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-action="Index" asp-controller="Student" class="btn btn-sm btn-neutral">Sinh viên</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Sửa khoa</h3>
                </div>
                <div class="row" style="padding: 1.5rem">
                    <div class="col-md-4">
                        <form asp-action="Edit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="StudentId" class="control-label"></label>
                                <input asp-for="StudentId" class="form-control" />
                                <span asp-validation-for="StudentId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StudentName" class="control-label"></label>
                                <input asp-for="StudentName" class="form-control" />
                                <span asp-validation-for="StudentName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MajorId" class="control-label"></label>
                                <input asp-for="MajorId" class="form-control" />
                                <span asp-validation-for="MajorId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FacultyId" class="control-label"></label>
                                <input asp-for="FacultyId" class="form-control" />
                                <span asp-validation-for="FacultyId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Lưu lại" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>