@model WebLuanVan.Data.ViewModels.Request.Thesis.ThesisRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Table</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Luận văn</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-action="Index" asp-controller="User" class="btn btn-sm btn-neutral">Danh sách</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Thêm mới Luận văn</h3>
                </div>
                <!-- Create User -->
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ThesisName" class="control-label"></label>
                        <input asp-for="ThesisName" class="form-control" />
                        <span asp-validation-for="ThesisName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StudentId" class="control-label"></label>
                        <input asp-for="StudentId" class="form-control" />
                        <span asp-validation-for="StudentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phase" class="control-label"></label>
                        <input asp-for="Phase" class="form-control" />
                        <span asp-validation-for="Phase" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AcademicYear" class="control-label"></label>
                        <input asp-for="AcademicYear" class="form-control" />
                        <span asp-validation-for="AcademicYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuideLectureId" class="control-label"></label>
                        <input asp-for="GuideLectureId" class="form-control" />
                        <span asp-validation-for="GuideLectureId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DebateLectureId" class="control-label"></label>
                        <input asp-for="DebateLectureId" class="form-control" />
                        <span asp-validation-for="DebateLectureId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FacultyId" class="control-label"></label>
                        <input asp-for="FacultyId" class="form-control" />
                        <span asp-validation-for="FacultyId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThesisId" class="control-label"></label>
                        <input asp-for="ThesisId" class="form-control" />
                        <span asp-validation-for="ThesisId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language" class="control-label"></label>
                        <input asp-for="Language" class="form-control" />
                        <span asp-validation-for="Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FileContent" class="control-label"></label>
                        <input asp-for="FileContent" type="file" class="form-control" />
                        <span asp-validation-for="FileContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProtectedAt" class="control-label"></label>
                        <input asp-for="ProtectedAt" class="form-control" />
                        <span asp-validation-for="ProtectedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MakedAt" class="control-label"></label>
                        <input asp-for="MakedAt" class="form-control" />
                        <span asp-validation-for="MakedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FinishedAt" class="control-label"></label>
                        <input asp-for="FinishedAt" class="form-control" />
                        <span asp-validation-for="FinishedAt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Score" class="control-label"></label>
                        <input asp-for="Score" class="form-control" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsProtected" /> @Html.DisplayNameFor(model => model.IsProtected)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
