@model WebLuanVan.Data.ViewModels.ModelBinding.LectureViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Table</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Giảng viên</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a asp-action="Index" asp-controller="Lecture" class="btn btn-sm btn-neutral">Danh sách</a>
                    <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Bảng giảng viên</h3>
                </div>
                <!-- Create Lecture -->
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="LectureId" class="control-label"></label>
                        <input asp-for="LectureId" class="form-control" />
                        <span asp-validation-for="LectureId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LectureName" class="control-label"></label>
                        <input asp-for="LectureName" class="form-control" />
                        <span asp-validation-for="LectureName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LectureRole" class="control-label"></label>
                        <input asp-for="LectureRole" class="form-control" />
                        <span asp-validation-for="LectureRole" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>